/* reset css and test git */
html, body,h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* end reset */


body, html{
	height: 100%;
	background-attachment: fixed;
}
body{
	width: 100%;
	background-image: url(img/bacground.png);
	background-size: 100%;
}


.wrapper{
	
	width:100%;

	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
	min-height: 100%;

/*	background-image: url(img/bacground.png);*/

	position: relative;

}

.wrapContent {
    width: 1000px;
    margin: 0 auto;
}

.wrapHead{
	width: 100%;
	background-image: url(img/bgHeaderN.png);
	background-repeat: repeat-x;
}

.header{
	min-width: 1100px;
	max-width: 1400px;
	margin:0 auto;
	height: 100px;
	margin-bottom: 35px;
}

.header img{
	padding-left: 109px;
	padding-top: 10px;
}
.wrapUl{
	float: right;
	width: 300px;
	padding-top: 25px;
}

.header ul{
	list-style: none;
	/*position: absolute;
	top: 25px;
	left:1060px;*/
}

.header ul li{
	float: left;
	margin-left: 20px;
}


/*.header ul div{
	height: 40px;
	width: 40px;
	background-color: #f3f1f1;
	border-radius: 50%;
}*/

.Mainsidebar{
	float: left;
	margin-right: 59px;
	height: 100%;
}

.navigator1 {
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 36px;
	width: 250px;
	/*height: 165px;*/
	border: 1px solid #c5c5c5;
	
}


.sidebar1{
	padding-left: 0;
	list-style: none;
background: #fbfaf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fbfaf9 0%, #f3f2f1 48%, #eae7e6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fbfaf9 0%,#f3f2f1 48%,#eae7e6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fbfaf9 0%,#f3f2f1 48%,#eae7e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf9', endColorstr='#eae7e6',GradientType=0 ); /* IE6-9 */
}
 

.sidebar1 li a{
	display: block;
	text-decoration: none;
	padding: 14px 5px 14px 23px;
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	color: #727070;
	text-shadow: 0 1px rgba(255,255,255,.35);
	/*border: 1px solid #a09c9c;*/
}

.sidebar1 a.offBorder{
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
}


.sidebar1 li a:hover{
	display: block;
	/*background-color:#d4d3d3;*/
	background: #e8e7e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e7e7 0%, #d5d3d3 44%, #bfbcbc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e8e7e7 0%,#d5d3d3 44%,#bfbcbc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e8e7e7 0%,#d5d3d3 44%,#bfbcbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#bfbcbc',GradientType=0 ); /* IE6-9 */


}

.sidebar1 li a:active{
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ce7cd+0,5fd1b5+55,40b89a+100 */
	background: #7ce7cd; /* Old browsers */
	background: -moz-linear-gradient(top,  #7ce7cd 0%, #5fd1b5 55%, #40b89a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); /* IE6-9 */

}

.active {
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ce7cd+0,5fd1b5+55,40b89a+100 */
	background: #7ce7cd; /* Old browsers */
	background: -moz-linear-gradient(top,  #7ce7cd 0%, #5fd1b5 55%, #40b89a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); /* IE6-9 */
}

.navigator2{
	overflow: hidden;
	border-radius: 5px;
	background-color: white;
	width: 250px;
	/*height: 155px;*/
}


.cont{
	display: block;
	height: 25px;
	background-color:#e8bf6e;
	font-family: 'OpenSans-Semibold', sans-serif;
	font-size: 20px;
	color: #d0982c;
	text-shadow:0 1px rgba(255,255,255,.4);
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 29px;

}

.sidebar2{
	padding-left: 0;
	list-style: none;
	background-color: #FFF;
	display: block;
	
}


.sidebar2 a{
	display: block;
	font-family: 'OpenSans-Regular';
	font-size: 14px;
	text-decoration: underline;
	color: #727070;
	padding: 8px 0px 8px 99px;
	background:url(img/icon-mailStr.png); 
	background-repeat: no-repeat;
	background-position: 20px 0px;
	background-color: #fefefe;
	border: 1px solid #c5c5c5;
}

.mob a{
	background:url(img/icon-telStr.png); 
	background-repeat: no-repeat;
	background-position: 21px 0px;
	text-decoration: none;
	border-top: none;
}

.skype a{
	background:url(img/icin-skypeStr.png); 
	background-repeat: no-repeat;
	background-position: 21px 0px;
	text-decoration: none;
	border-top: none;
}



.sidebar2 a:hover{
	display: block;
	background-color: #f5ecdc;
}



.main{
	overflow: hidden;
	margin-bottom: 36px;
	min-width: 652px;
	background-color: #f7f6f5;
	border-radius: 5px;
	margin-bottom: 36px;
	border: 1px solid #a09c9c;

	
}

div.aboutMe{
	max-height: 285px;
	overflow: hidden;
}

.content{
	overflow: hidden;

}

.main h1{
	min-height: 40px;
	padding-top: 10px;
	padding-left: 44px;
	font-family:'OpenSans-Semibold';
	font-size: 24px;
	color: #eeedec;
	text-shadow: 0 1px #666565;
	background: #7d7a7a; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7a7a 0%, #929090 46%, #a8a6a6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7d7a7a 0%,#929090 46%,#a8a6a6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7d7a7a 0%,#929090 46%,#a8a6a6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.foto{
	overflow: hidden;
	width: 150px;
	height: 150px;
	background-image: url(img/фото.png);
	background-position: -10px -10px;
	border-radius: 50%;
	border:8px solid white;
	box-shadow: 0 0 2px 0 #555;
	margin-top: 35px;
	margin-left: 44px;
	float: left;

}

.abautInfo{
	list-style: none;
	font-family: 'OpenSans-Regular';
	font-size: 14px;
	color: #727070;
	margin-left: 35px;
	padding-top: 32px;
	
}

.spanInfo{
	font-family: 'OpenSans-Semibold';
	margin-right: 7px;
	display: inline-block;
}



.wrapSkills{
	margin-top: 35px;
}


.Key {
	float: left;
}

ul.Key{
	padding-left:19px;
}



.mainList{
	list-style: none;

}

 ul.mainList{
margin-top: 32px;
}
.mainList li{
	width: 565px;
	margin-left: auto;
	margin-right: auto;
}

.mainList div{
	float: left;
	border-radius: 50%;
	display: inline-block;
	height: 56px;
	width: 	56px;
	background-color:#fdfcfc;
	margin-bottom: 37px;
	margin-right: 45px;
	border: 1px inset ;
}


.mainList i{
	margin: 18px;
}




.str1 {

	clear: both;
	font-family: 'OpenSans-Semibold';
	font-size: 14px;
	color: #727070;
}


.str2 {
	font-family: 'OpenSans-Regular';
	font-size: 14px;
	color: #727070;
	padding-bottom: 30px;
	margin-right: 50px;
	border-bottom: 2px solid #dbdbda;

}



.main ul :last-child{
	border-bottom: none;
}



.footer{
	width: 100%;
	padding-top: 20px;
	text-align: center;
	height: 30px;
	background-color: #f9f9f9;
	font-family: 'OpenSans-Light';
	font-size: 12px;
	color: #727070;
	margin-right: auto;
	margin-left: auto;

}

.footer a{
	text-decoration: none;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	font-weight: bold;
	color: #727070;
	text-shadow: 0 1px 1px rgba(255,255,255,.85);
	padding-right: 50px;
}



.wrapMywork{
	padding-left: 48px;
	padding-bottom: 200px;
	background-color: #f7f6f5;
}

.wrapInput{
	min-height: 600px;
	padding-top: 37px;
	padding-left: 125px;
	background-color: #f7f6f5;
	text-decoration: none;
	font-family: 'OpenSans-Regular';
	font-size: 16px;
	color: #727070;
	text-shadow: 0 1px rgba(255,255,255,.35);
}

.wrapInput h2{
	margin-bottom: 8px;
}



.iconMywork {
	display: inline-block;
	max-width: 168px;
	min-height:180px;
	margin-top: 39px;
	margin-right: 25px;
	border-radius: 5px;
	vertical-align: top;
	border: 1px solid #b3b3a5;
	border-radius: 5px;
	overflow: hidden;
}


.iconMywork img{
	display: block;
	width:167px;
	height:123px;
}

.iconMywork p{
	padding: 5px;
}

.imgWork {
	display: block;
/*	width:167px;
	height:123px;*/
	width: 100%;
	height: 100%;
	background-color: #b3b3a5;
}

.imgWork img{
	opacity: 0.4;
}


.imgWork img:hover{
	opacity: 1;
	cursor: default;
}



.linkWork{
	display: block;
	height: 25px;
	background-color:#f2f2f2; 
	font-family: 'OpenSans-Semibold';
	font-size: 13px;
	color: #727070;
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
}


.iconMywork p{
	display: block;
	font-family: 'OpenSans-Light';
	font-size: 12px;
	color: #727070;
	background-color: #FFF;
	min-height: 25px;
}

#addProject {
	display: inline-block;
	margin-top: 39px;
	margin-right: 25px;
	background-image: url(img/addProjH.png);
	background-repeat: no-repeat;;
	border:none;
}

#addProject img:hover{
	opacity: 0;
}



.popI,.Input,.inputName,.inputEmail,.textarea,.inpkod{
	padding-left: 12px;
	border-radius: 3px;
	border: 1px solid #d6d5d3;
	font-size: 12px;
	font-family: 'OpenSans-Regular';
	color: #d6d5d3;
	background-color: #f8f8f9;
}

.Input,.inputName,.inputEmail {
	height: 40px;
	width: 190px;
}

.wrapInput h2{
	font-family: 'OpenSans-Regular';
	color: #727070;
}

.Input {
	height: 40px;
	width: 190px;
}

.textarea{
resize:none;
padding-top: 14px;
padding-left: 10px;
}

.inputName{
	display: inline-block;
	font-family: 'OpenSans-Regular';
	color: #727070;
	
}

 label{
	display: inline-block;
	clear: both;
	position: relative;
	font-family: 'OpenSans-Regular';
	color: #727070;
}

span{
	display: block;
	margin-left: 0px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: 'OpenSans-Regular';
	color: #727070;
}

.inputText{
	margin-top: 20px;

}

.inputEmail{
	display: inline-block;
	margin-left: 12px;
	margin-bottom: 20px;
}

textarea{
	max-width:402px;
	max-height:186px;
	width:402px;
	height:186px;
	margin-bottom: 14px;
}

.inputKode input{
	height: 28px;
	width: 180px

}


.Kode img{
	width: 190px;
	height: 78px;
	border-radius: 5px;
}


.wrapKode{
	position: relative;
}

.imgKode{
	position: absolute;
}

.inputKode{
	position: absolute;
	top:50px;
	left:50px;
	display: inline-block;
	padding-left: 209px;
	margin-left: -40px;

	
}



button{
	height: 40px;
	width: 125px;
	font: 'OpenSans-Semibold';
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #b9b9b9;
	border-radius: 3px;
	background: #fbfafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfafa 0%, #f3f2f1 52%, #e6e4e3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fbfafa 0%,#f3f2f1 52%,#e6e4e3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fbfafa 0%,#f3f2f1 52%,#e6e4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa', endColorstr='#e6e4e3',GradientType=0 ); /* IE6-9 */
}

button:hover{
	background: #e8e7e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e7e7 0%, #d5d3d3 44%, #bfbcbc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e8e7e7 0%,#d5d3d3 44%,#bfbcbc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e8e7e7 0%,#d5d3d3 44%,#bfbcbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#bfbcbc',GradientType=0 ); /* IE6-9 */
}

button:active{
	background: #7ce7cd; /* Old browsers */
	background: -moz-linear-gradient(top,  #7ce7cd 0%, #5fd1b5 55%, #40b89a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px #e2f3eb;
	color: #1e7465
}

.send{
	position: absolute;
	top: 133px;
	left: 28px;

}

.sendBut{
	background: #7ce7cd; /* Old browsers */
	background: -moz-linear-gradient(top,  #7ce7cd 0%, #5fd1b5 55%, #40b89a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px #e2f3eb;
	color: #1e7465
}


.reset{
	position: absolute;
	top: 133px;
	left: 250px;
}


.headPopup{
	/*margin-top:-15px;*/
}
.form{
	margin:0 auto;
	padding-top: 10px;
	max-width: 327px;
}
.popup{
	display: none;
	width: 380px;
/*	min-height: 495px;*/
	background: #f9f8f7;
	border-radius: 5px;
	overflow: hidden;
}

.popH{
	font-size: 14px;
	font-style: 'OpenSans-Regular'; 
	color: #727070;
	margin-bottom: 10px;
	margin-top: 10px;
}


.popI{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
	width:308px;
	height:43px;
	margin-bottom: 10px;
	padding-left: 5px;
}

.popInImg{
	display: inline-block;
	width:255px;
	height:43px;
	margin-bottom: 10px;
	padding-left: 5px;
	
}

.wrapAddImg{
	position: relative;
}

.butImg {
	position: absolute;
	left: 258px;
	top: 0px;
	display: inline-block;
	background-image: url(img/iCloud.png);
	background-repeat: no-repeat;
	background-color: #f7f6f5;
	background-position: 12px 12px;
	width: 53px;
	height: 44px;
	margin-bottom: 10px;
	padding: 22px;
}

.butImg:hover {
	background-image: url(img/iCloud.png);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	background-color: #e0e0e0;
}
.butImg:active {
	background-image: url(img/iCloud.png);
	background-repeat: no-repeat;
	background-position: 12px 12px;
}

.textaPoup{
	border: 1px solid #CCCCCC;
    border-radius: 2px;
	max-width: 308px;
	height: 115px;
}


.WrapbutPop{
	width: 100%;
	margin-bottom: 10px;
	font-color:#1e7465;
}

.butPop{
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	background: #7ce7cd; /* Old browsers */
	background: -moz-linear-gradient(top,  #7ce7cd 0%, #5fd1b5 55%, #40b89a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7ce7cd 0%,#5fd1b5 55%,#40b89a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); /* IE6-9 */
	color:#1e7465 !important;

}

.popHU{
	margin-top: 10px;
	font-size: 14px;
	font-style: 'OpenSans-Regular'; 
	color: #727070;
	margin-bottom: 10px;
}

.fileform { 
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 35px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}
 
.fileform .selectbutton { 
    /*background-color: #A2A3A3;*/
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    background-image: url(img/iCloud.png);
    background-repeat: no-repeat;
	background-color: #f7f6f5;
	background-position: 12px 12px;

}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%;
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 43px; 
    z-index:20;

	background-color: #f8f8f9;
    
}

.fileform #fileformlabel { 
background-color: #FFFFFF;
float: left;
height: 22px;
line-height: 22px;
overflow: hidden;
padding: 2px;
text-align: left;
vertical-align: middle;
width:60px;
margin-bottom: 10px;
}




.WrapAuto{
	/*display: none;*/
	width: 333px;
	height: 282px;
	background: #f9f8f7;
	border-radius: 5px;
	overflow: hidden;
}

.auto{
	max-width: 257px;
	margin-top:20px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	font-size: 14px;
	font-style: 'OpenSans-Regular'; 
	color: #727070;
}

.mailI, .pasI {
	width: 257px;
	margin-bottom: 20px;
}


.mailI{
	
}

.pasI{
	
}

.wrapCheck{
	font-size: 14px;
	font-style: 'OpenSans-Regular'; 
	color: #727070;
	margin-bottom: 10px;
}


.check{
	width: 22px;
	height: 22px;
}

.messeg{
	border:1px solid;
	border-radius: 4px;
	border:1px solid;
	width: 100%;
	padding:15px 10px;
	display: none;
	font-style: 'OpenSans-Regular'; 
	font-size: 12px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.errorMsg {
	border-radius: 4px;
	background-color: #fad2d1;
	border-collapse: #f97e76;
	color: #f97e76;
	margin-bottom: 10px;
}


  .sucsessMsg {
	display: none;
	height: 50px;
	width: 320px;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	box-shadow: 0 10px 20px -10px #222;
	background: #bde2cc;
   }


.qtip-content{
	border: 1px solid #dc8262;
	background-color: #dc8262;
	color: #9a4e32;
    font-size: 12px;
    text-shadow: 0 1px 0 #f0c1a3;
	
}

.qtip-default {
    border: 1px solid #dc8262;
    background-color: #dc8262;
    color: #555;
}

.qtip-mystyle{
	background: #f3a58b;
    border: 1px solid #d68265;
	box-shadow: 0 0 2px 0 #8e8e8e ,inset 0 0 1px 0 #f7c0ad;
	color: #9a4e32;
	font-size: 12px;
	text-shadow: 0 1px 0 #f0c1a3;
	border-radius: 4px;
}



/*.style {
	width: 12px !important;
    height: 12px !important;
}*/


.addError{
	border-color: #eccabe;
}


.WrapAuto {
	visibility: hidden;
}

 


.addproject_field_box {
    margin-top: 8px;
    margin-bottom: 6px;
    position: relative;
    width: 315px;
}

.fileupload {
  border: none;
  clip: rect(0 0 0 0);
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0px; }

  .form-add_new_project-label {
    font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #727070;
    font-size: 14px;
}

.add_proj_text_input {
  background-color: #f8f8f9;
  border: 1px solid #d6d5d3;
  border-radius: 3px;
  font-size: 12px;
  width: 100%;
  height: 43px;
  line-height: 43px;
  display: block;
  padding-left: 12px;
  box-sizing: border-box;
  position: relative;
      font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #c7c6c6;
    font-size: 12px;
}

.add_proj_file_button {
  background-image: url("img/iCloud.png");
  background-repeat: no-repeat;
  background-position: 12px 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 43px;
  width: 53px;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0;
  border: 1px solid #c3c2c2;
}



.add_proj_file_button:after {
    content: "";
    display: block;
    width: 25px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 14px;
    box-shadow: 0px 1px 0px 0px #ffffff;
}

.fileupload {
  border: none;
  clip: rect(0 0 0 0);
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0px; }

